.dash-link {
  color: black;
  text-decoration: none;
}

.dashboard-itinerary-card {
  // display: flex;
  border-radius: 5px;
  border: solid 1px black;
  padding: 16px;
  margin: 8px;
  width: 600px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.dashboard-container {
  height: 100%;
}
