.dash-link {
  text-decoration: none;
  color: black;
}

.card-body {

  .card-title {
    font-size: 28px;
  }

  .user-activity {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 2;

    h6 {
      font-weight: 700;
      font-size: 24px;
    }
  }

  .header-content-left {
    padding-right: 128px;
    font-family: "Montserrat", "Helvetica", "sans-serif";
  }
}

.dashboard-itinerary-card {
  border-radius: 5px;
  border: solid 1px black;
  padding: 16px;
  margin: 8px;
  max-height: 200px;
  width: 600px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  background-color: white;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);

  a {
    text-decoration: none;
    margin-left: 30px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }

  .itinerary-card-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h2 {
      flex-grow: 2;
      font-weight: bolder;
    }
  }


  .btn {
    margin-left: 0;
  }


  .dropbtn {
    background-color: white;
  }
}

  .dropbtn {
    background-color: white;
  }

.dropbtn {
  background-color: #04AA6D;
  color: black;
  padding: 16px;
  font-size: 24px;
  border: none;
}

.itinerary-action-dropdown {
  position: relative;
  display: inline-block;
  color: white;
}

.dropdown-links {
  position: absolute;
  background-color: #555555;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-links a {
  color: white !important;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: 600;
}

.itinerary-card-dropdown-content a:hover {
  background-color: #ddd;
}

.itinerary-card-dropdown:hover .dropdown-links {
  display: block;
  z-index: 1000;
  position: absolute;
  border-radius: 12px;
}

.itinerary-card-dropdown:hover .dropbtn {
  background-color: white;
}

.col-sm-6 {
  padding: 10px;
}

.dashboard-container {
  height: 100%;
}

.dashboard-itinerary-card:hover {
  cursor: pointer;
  border: 3px solid rgba(217,106,3,1);
  box-shadow: 8px 8px 8px rgba(217,106,3,0.8);
}

.event-card-dropdown-content a:hover {
  background-color: #ddd;
}

.event-card-dropdown:hover .dropdown-links {
  display: block;
  z-index: 1000;
  position: absolute;
  border-radius: 12px;
}

.event-card-dropdown:hover .dropbtn {
  background-color: white;
}

.card:hover {
  cursor: pointer;
  border: 3px solid rgba(217,106,3,1);
  box-shadow: 8px 8px 8px rgba(217,106,3,0.8);
}

.itinerary-dash-card-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button1 {
  padding: 17px 40px;
  border-radius: 50px;
  border: 0;
  background-color: white;
  box-shadow: hsla(0, 0%, 0%, 0.05) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all .5s ease;
  width: 223px;
  height: 56px;
  color: black;
  font-family: "Montserrat", "Helvetica", "sans-serif";
  font-weight: 800;
}
.button1:hover {
  letter-spacing: 3px;
  background-color: hsla(261, 80%, 48%, 1);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93, 24, 220) 0px 7px 29px 0px;

  a {
    color: hsl(0, 0%, 100%);
  }
}
.button1:active {
  letter-spacing: 3px;
  background-color: hsla(261, 80%, 48%, 1);
  color: hsla(0, 0%, 100%, 1);
  box-shadow: rgb(93, 24, 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}


.events-btn {
  background-color: #402e2e;
  color: white;
  font-weight: 700;
  width: 187px;
  border-radius: 8px;
  font-family: "Montserrat", "Helvetica", "sans-serif";
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  transition: all .5s ease;
}

.events-btn:hover {
  letter-spacing: 3px;
  box-shadow: rgb(114, 108, 114) 0px -1px 29px 0px;
}

.overview-events {
  width: 700px;
}

.overview-itineraries {
  width: 600px;
}

.overview-container {
  padding-left: 100px;
  padding-right: 100px;
}

#overview-text {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
