// Specific CSS for your home-page

body {
  background: rgb(224,0,0);
  background: linear-gradient(86deg, rgba(224,0,0,1) 0%, rgba(217,106,3,1) 35%, rgba(255,228,113,1) 100%);
  font-family: 'Work Sans', sans-serif;
}

body.home-background {
  background-image: url('background.png');
  background-size: cover;
}

.main-container {
  min-height: 100vh;
  width: 100%;
  margin-top: 75px;
  margin-bottom: 75px;
}

.container-search {
  // font-family: 'Arial', sans-serif;
  padding: 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}

.card {
  width: 350px;
  height: 500px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 16px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.card-address {
  font-size: 14px;
  color: #646464;
  margin-bottom: 7px;
}

.card-description {
  font-size: 13px;
  margin-bottom: 8px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card-date {
  font-size: 14px;
  color: #555;
  font-weight: 510;
  margin-bottom: 8px;
}

#event-card-buttons {
  gap: 15px;
}

// .card-date:before {
//   content:url('cal_icon.jpeg');
// }

.card-actions {
  bottom: 8px;
  width: 100%;
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.see-more-card {
  width: 350px;
  height: 500px;
}

// .suggestions-container {
//   position: absolute;
//   z-index: 1;
//   background-color: #fff;
//   border: 1px solid #ccc;
//   max-height: 200px;
//   overflow-y: auto;
//   width: 32%;
// }

// .suggestion:hover {
//   background-color: rgb(53, 101, 172);
//   cursor:pointer;
// }
