// Specific CSS for your home-page

body {
  font-family: $body-font;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  h1, h2, h3 {
    font-family: $headers-font;
  }
}

.background {
  background-image: url('background30.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.call-to-action {
  font-size: 50px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  // opacity: .7;
  box-shadow: 28px 8px 12px #080808;
  height: 500px;

  strong {
    color: white;
    margin-left: 40px;
    align-self: flex-start;
  }

  .home-title {
    margin-top: 75px;
  }

  .results-text {
    color: white;
    font-size: 24px;
  }
}

.container {
  margin-top: 56px;
  justify-content: space-evenly;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;

  .search-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    input:focus {
      opacity: 1;
    }

    .search-button {
      height: 50px;
      width: 50px;
      border: none;
      border-radius: 50%;
      background-color: black;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      // opacity: 0.5;
      box-shadow: 2px 2px 14px #ffffff;
      margin: 5px;
    }

    .search-button:hover {
      // opacity: 1;
      box-shadow: 4px 4px 18px #ffffff;
    }

    .search-date {
      width: 50px;
      height: 50px;
      padding: 20px;
      border: none;
      border-radius: 35px;
      background-color: black !important;
      color: none;
      font-size: 20px;
      outline: none;
      margin-right: 10px;
      // opacity: .8;
      box-shadow: 2px 2px 14px #ffffff;
      margin: 5px;
      z-index: 1000;
    }

    .search-date-image {
      margin-left: 20px;
      color: #fff;
      margin-right: -39px;
    }

    .search-date-image i {
      font-size: 20px;
      // opacity: 1;
      z-index: 1000;
    }

    .search-date:hover {
      // opacity: 1;
      box-shadow: 4px 4px 18px #ffffff;
    }

    .search-date::placeholder {
      color: #fff;
    }

    .search-input {
      width: 700px;
      padding: 20px;
      border: none;
      border-radius: 35px;
      background-color: black !important;
      color: #fff;
      font-size: 20px;
      outline: none;
      margin-right: 10px;
      // opacity: .8;
      height: 50px;
      box-shadow: 2px 2px 14px #ffffff;
      margin: 5px;
    }

    .search-input::placeholder {
      color: #fff;
    }

    .search-input:hover {
      // opacity: 1;
      box-shadow: 4px 4px 18px #ffffff;
    }
  }
}

.container-search {
  padding: 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.search-results {
  display: flex;
  width: 100%;
  // flex-wrap: wrap;
  // flex-grow: 1;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}

.card {
  width: 350px;
  height: 500px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event-card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-bottom: 0;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  height: 70px;

  button {
    width: 300px;
  }
}

.card-description {
  font-size: 13px;
  margin-bottom: 8px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 60px;
}

.card-date {
  font-size: 14px;
  color: #555;
  font-weight: 510;
  margin-bottom: 8px;
}

.card-actions {
  width: 100%;
  display: flex;
  justify-content: end;
  padding: 16px;

  .fa-bookmark:hover::before {
    content: "Bookmark Event";
    font-size: 16px;
    color: black;
    padding: 5px;
    border-radius: 5px;
    font-family: $body-font;
    text-transform: none;
  }

  .fa-cart-shopping:hover::before {
    content: "Purchase Tickets";
    font-size: 16px;
    color: black;
    padding: 5px;
    border-radius: 5px;
    font-family: $body-font;
    text-transform: none;
  }

  .fa-x:hover::before {
    content: "Remove Bookmark";
    font-size: 16px;
    color: black;
    padding: 5px;
    border-radius: 5px;
    font-family: $body-font;
    text-transform: none;
  }

  .fa-plus:hover::before {
    content: "Add To Itinerary";
    font-size: 16px;
    color: black;
    padding: 5px;
    border-radius: 5px;
    font-family: $body-font;
    text-transform: none;
  }

  .fa-comments:hover::before {
    content: "Join Event Chat";
    font-size: 16px;
    color: black;
    padding: 5px;
    border-radius: 5px;
    font-family: $body-font;
    text-transform: none;
  }
}

.see-more-card {
  width: 350px;
  height: 500px;
}

main {
  flex-grow: 1;
}

.footer {
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
  width: 100%;
  margin-top: auto;
}

.footer-about {
  position: relative;
}

.modal {
  top: 56px;
  height: 80%;

  img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
  }
}
