<div class="footer d-flex align-content-space-between sticky-bottom">
  <div class="footer-links">
    <a href="#">EventSeeker</a>
  </div>
  <div class="footer-copyright">
    About Us
  </div>
</div>
