<div class="footer d-flex align-content-space-between sticky-bottom">
  <div class="footer-links">
    <a href="#"><img src="<%= asset_path('small_logo_event_seeker.png') %>" alt="EventSeeker Logo" class="nav-logo" style="height: 80px; width: auto;"></a>
  </div>
  <div class="footer-links">
    <%= link_to "About Us", pages_about_us_path, class: "nav-link" %>
  </div>
</div>
