<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-12">

    <ul>
      <% @events.each do |events| %>
        <li><%= events.name %></li>
      <% end %>
    </ul>

    </div>
  </div>
</div>
