<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-12">

      <div class="d-flex justify-content-between">

        <div class="d-flex flex-column col-12 col-lg-3">
          <div class="d-flex justify-content-center">
            <img src="https://res.cloudinary.com/di8qjnwgb/image/upload/v1699852073/l2rtxwm4jwcn0oxgcn3d.jpg", class="avatar-about";>
          </div>
          <div class="about-info mt-5">
            <div class="d-flex flex-column">
              <div class="p-2 d-flex justify-content-center">
                <h2>Alex</h2>
              </div>
              <div class="p-2 d-flex justify-content-center">
                <p>Painter by day, developer by night</p>
              </div>
              <div class="d-flex p-2 justify-content-around align-items-end">
                <a></a>
                <a class="social" href="https://www.linkedin.com/in/alexander-resnelis-187220290/" target="_blank"><i class="fa-brands fa-linkedin fa-xl" style="color: #000000;"></i></a>
                <a class="social" href="https://github.com/aresnelis" target="_blank"><i class="fa-brands fa-github fa-xl" style="color: #000000;"></i></a>
                <a></a>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex flex-column col-12 col-lg-3">
          <div class="d-flex justify-content-center">
            <img src="https://res.cloudinary.com/di8qjnwgb/image/upload/v1699852074/xcwfxgg3dibrpvpumic3.jpg", class="avatar-about";>
          </div>
          <div class="about-info mt-5">
            <div class="d-flex flex-column">
              <div class="p-2 d-flex justify-content-center">
                <h2>Etienne</h2>
              </div>
              <div class="p-2 d-flex justify-content-center">
                <p>Can cook</p>
              </div>
              <div class="d-flex p-2 justify-content-around">
                <a class="social" href="https://github.com/EtienneFrechet" target="_blank"><i class="fa-brands fa-github fa-xl" style="color: #000000;"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex flex-column col-12 col-lg-3">
          <div class="d-flex justify-content-center">
            <img src="https://res.cloudinary.com/di8qjnwgb/image/upload/v1699852074/f9m6z2zma8kupcso7z7s.png", class="avatar-about";>
          </div>
          <div class="about-info mt-5">
            <div class="d-flex flex-column">
              <div class="p-2 d-flex justify-content-center">
                <h2>Isabelle</h2>
              </div>
              <div class="p-2 d-flex justify-content-center">
                <p>Bangkok, to Europe, to Singapore, to Japan, now Bali..... where will I be next?</p>
              </div>
              <div class="d-flex p-2 justify-content-around">
                <a></a>
                <a class="social" href="https://www.linkedin.com/in/lauisabelle/" target="_blank"><i class="fa-brands fa-linkedin fa-xl" style="color: #000000;"></i></a>
                <a class="social" href="https://github.com/isabellelaususan" target="_blank"><i class="fa-brands fa-github fa-xl" style="color: #000000;"></i></a>
                <a></a>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex flex-column col-12 col-lg-3">
          <div class="d-flex justify-content-center">
            <img src="https://res.cloudinary.com/di8qjnwgb/image/upload/v1699852072/rjz8iigryqclxvtrrqyg.jpg", class="avatar-about";>
          </div>
          <div class="about-info mt-5">
            <div class="d-flex flex-column">
              <div class="p-2 d-flex justify-content-center">
                <h2>Matt</h2>
              </div>
              <div class="p-2 d-flex justify-content-center">
                <p>Forever questioning his ability to code</p>
              </div>
              <div class="d-flex p-2 justify-content-around">
                <a></a>
                <a class="social" href="https://www.linkedin.com/in/mberuldsen/" target="_blank"><i class="fa-brands fa-linkedin fa-xl" style="color: #000000;"></i></a>
                <a class="social" href="https://github.com/berulds" target="_blank"><i class="fa-brands fa-github fa-xl" style="color: #000000;"></i></a>
                <a></a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
