<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">

      <strong> Hi, I'm a dashboard. I need content. </strong>

      <%= link_to "View events", pages_dashboard_path, class: "dash-link" %>
      <%= link_to "Create an event", pages_dashboard_path, class: "dash-link" %>
      <%= link_to "View itineraries", pages_dashboard_path, class: "dash-link" %>
      <%= link_to "Create an itineraries", pages_dashboard_path, class: "dash-link" %>

    </>
  </div>
</div>
