.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-about {
  width: 200px;
  border-radius: 50%;
}

.avatar-about-mini {
  width: 50px;
  border-radius: 50%;
  margin-right: -20px;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

// added css for styling here
#avatar-container {
  display: flex;
  align-items: center;
}

#avatar-line {
  display: flex;
}

#card-mini-avatar {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-right: -10px;
}

#follow-text {
  margin-left: 25px;
  font-size: 13px;
}

#more-avatars {
  // font-weight: bold;
  margin-left: 5px;
}
