.main {
  width: 100%;
  height: 866px;
  margin-top: 25px !important;
}

.chat-container {
  background-color: #f1f1f1;
  padding: 17px;
  border-radius: 8px;
  overflow-y: scroll;
  height: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 50%;
}

.chat-card {
  width: 600px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
}

.chat-card:hover {
  border: 3px solid rgba(217,106,3,1);
  box-shadow: 8px 8px 8px rgba(217,106,3,0.8);
}

.chat-card-content {
  padding: 16px;
  width: 100%;
}

.chat-card-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  width: 100%;
  overflow: hidden;
  max-height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
    color: black;
  }

  .fa-comments:hover::before {
    content: "Enter Chat";
    font-size: 16px;
    color: black;
    padding: 5px;
    border-radius: 5px;
    font-family: $body-font;
    text-transform: none;
  }

  .fa-cart-shopping:hover::before {
    content: "Purchase Tickets";
    font-size: 16px;
    color: black;
    padding: 5px;
    border-radius: 5px;
    font-family: $body-font;
    text-transform: none;
  }

  .fa-plus:hover::before {
    content: "Add To Itinerary";
    font-size: 16px;
    color: black;
    padding: 5px;
    border-radius: 5px;
    font-family: $body-font;
    text-transform: none;
  }
}

.chat-card-date {
  font-size: 11px;
  color: #555;
  font-weight: 510;
  margin-bottom: 8px;
  // justify-content: flex-end;
  margin-left: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chatroom-details {
  h2 {
  font-weight: bold;
  }

  a{
    text-decoration: none;
    color: $gray;
  }
}

.chatroom {
  background: white;
  height: 80%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 50%;
  margin-right: 25px;
  margin-bottom: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 10px;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    width: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}
