.event-forms {
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 1px solid;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding :25px;
  margin-top: 56px;
  margin-bottom: 100px;

  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  input[type=submit]{
    background-color: $green;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

  input[type="file"]::-webkit-file-upload-button{
    background-color: $orange;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 8px 8px;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: $gray;
  }
}

.user-forms {
  background-color: #f1f1f1;
  align-items: center;
  border-radius: 10px;
  border: 1px solid;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding :25px;
  margin-top: 56px;
  margin-bottom: 100px;

  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  input[type=submit]{
    background-color: $green;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

  input[type="checkbox"] {
    width: 5px;
  }

  a {
    text-decoration: none;
    color: $gray;
  }
}

.user-forms-links .cancel-account-button {
  background-color: $red;
  border: none;
  border-radius: 8px;
  width: 200px;
}
