.modal-content {
  font-family: 'Work Sans', sans-serif;
  border-color: linear-gradient(86deg, rgba(224,0,0,1) 0%, rgba(217,106,3,1) 35%, rgba(255,228,113,1) 100%);
  background: white;
  box-shadow: 2px 2px 14px rgba(217,106,3,1);
}

.modal-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-logo {
    width: 100%;
    height: auto;
  }
}

.modal-content {
  .modal-header,
  .modal-body,
  .modal-footer {
    border: none;
  }
}
